{%load static %}
<div class="navbar sticky-top bg-white navbar-light mb-2 navbar-expand-lg">
  <nav class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="mb-0 ml-auto mr-auto" id="searchform" action=" " enctype="multipart/form-data">
           <input name="search_user" autocomplete="off" id="searching" class="form-control input-sm search" 
            placeholder="&#xF002; Search"  style="font-family:Arial, FontAwesome">
          <i class="spinner "></i>
      </form>
      <ul class="nav navbar-nav navbar-right ml-auto mr-5">
        {% if user.is_authenticated %}
        <li class="nav-item active">
          <!-- <a href="{%url 'home'%}">Home</a> -->
          <a class="nav-link" href="{%url 'home'%}">
            <span style="font-size: 1.6em;  color:black " class="navbar-icons" ><i class="fa fa-home navbar-icons"></i></span>
            </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'home'%}">
            <span style="font-size: 1.6em;  color:black " class="navbar-icons" ><i class="far fa-heart navbar-icons"></i></span>
            </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"   data-toggle="modal" data-target="#post-upload">
            <span style="font-size: 1.6em;  color:black " class="navbar-icons" ><i class="fas fa-plus navbar-icons" id="add"></i></span>
            </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{user.profile.profile_pic.url}}"  alt= "" class="rounded-circle user">
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a href="{%url 'profile' user.username%}" class="nav-link text-dark dropdown-item"><i class="fas fa-user"></i> Profile</a>
            <!-- <a href="/accounts/password/change" class="nav-link text-dark dropdown-item"><i class="fas fa-cog"></i> Settings</a> -->
            <a href="/logout" class="nav-link text-dark dropdown-item">Logout</a>
            
          </div>
        </li>
        {% else %}
        <li class="nav-item active "><a class="nav-link mt-1 mb-1" href="{%url 'login'%}">Log in</a></li>
        <li class="nav-item active "><a class="nav-link mt-1 mb-1" href="{%url 'register'%}">Sign up</a></li>
        {%endif%}
    </ul>
    </div>
  </nav>
</div>