%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %} 
{{ block.super}}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="card mb-4">
                <a class="card-header font-weight-bold text-dark" href="{% url 'user_profile' post.user.username  %}">  <img src="{{post.user.profile.profile_pic.url}}" class="rounded-circle border ml-3 mr-3"
                    alt="" width="35" height="35">{{post.user.username}} </a>  
                
                <img class="card-img-top mt-1" src="{{post.image.url}}" alt=" " height="350">
                <div class="card-body">
                <span>
                    <a class="ml-1" href="{%url 'like' post.id%}"><span
                            style="font-size: 1.3em;"><i class="far fa-heart text-dark"></i></span>
                    </a>
                </span>
                <span>
                    <a class="ml-3" href=" "><span
                            style="font-size: 1.3em;"><i class="far fa-comment text-dark"></i></span>
                    </a>
                </span><br>
                <span class="ml-1 view" style="font-weight: bolder;" >{{post.likes}} likes</span><br>
                <span class="ml-1"><span class="font-weight-bold">{{post.user}}</span> {{post.caption}}</span><br>
                <p class="ml-1 text-muted view">{{post.comments.count}} comments</p>
                <small class="ml-1 text-muted mt-1">{{post.upload_date|timesince|upper}} AGO </small>
                </div>

            </div>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="">
            <hr>

                {% for comment in comments %}
                {% if comment.image_id == post.id%}
                 <strong>{{ comment.user }} </strong> <span class="view">{{ comment.comment }}</span><br>
                        <small class="text-muted">{{comment.comment_date|timesince}}</small> 
                <hr>
                {% endif %}
                {% endfor %}
                
            </div>
            <form class="" action="{%url 'comment' post.id%}" method="post" id="commform" enctype="multipart/form-data">
                {%csrf_token%}
                 {{form}}
                <button class="btn btn-info btn-sm">Post</button>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
