{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">
{% endblock %}

{% block content %}
    {{block.super}}
    <div class="container">
        {% if profile.prof_photo %}
            <div class="profile-part">
                <div class="profile-image">
                    <div class="the-profile-image">
                        <img src="{{ MEDIA_URL }}/pics/profiles/{{ profile.prof_photo }}" alt="Profile Photo">
                    </div>
                    <div class="the-profile-name text-center">
                        <i>{{ current_user.username }}</i>
                    </div>
                </div>
                <div class="profile-details">
                    <table>
                        <tr>
                            <td class="t-right"><i class="fas fa-user"></i></td>
                            <td class="t-left">{{ profile.first_name }} {{ profile.last_name }}</td>
                        </tr>
                        <tr>
                            <td class="t-right"><i class="fas fa-phone"></i></td>
                            <td class="t-left">{{ profile.phone_number }}</td>
                        </tr>
                        <tr>
                            <td class="t-right"><i class="fas fa-envelope"></i></td>
                            <td class="t-left">{{ current_user.email }}</td>
                        </tr>
                        <tr>
                            <td class="t-right"><i class="fas fa-address-card"></i></td>
                            <td class="t-left t-bio">{{ profile.bio }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <div class="container-fluid"></div>
        {% else %}
            <div class="jumbotron m-5">
                <h1 class="display-3">Hello, {{ current_user.username }}</h1>
                <p class="lead">Please fill in your profile details to view your profile</p>
                <hr class="my-2">
                <p>
                    <a class="btn btn-primary btn-lg" href="{% url 'profile_update' user.id %}" role="button">Update Profile</a>
                </p>
                </div>
        {% endif %}
    </div>
{% endblock %}