nav{
    border-bottom:1px solid rgba(0, 0, 0, 0.308);padding-bottom:10px
  }
  
  .navbar-brand{
    color: black;
    font-family: 'Cookie', cursive;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
    color:black;
  }
  
  li {
    list-style: none;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  nav img:hover{
    color: black;
  }
  
  .background, .blog-section{
    background-color: #FAFAFA;
  }
  
  .card-header{
    background-color:white;
  }
  
  input[placeholder] {
    text-align: center;
  }
  
  .registration{
    height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
  }